
<!-- Extends the base template -->
{% extends 'base.html' %}

<!-- Template title -->
{% block title%} Change Password {% endblock %}
<br/>
<!-- Template content-->
{% block content %}
    <!-- horizontal line -->
    <br><br><br>
    <!-- Boostrap card -->
    <div class="card">
        <div class="card-body">
            <!-- line break -->
            <br/>
            <!-- Page header -->
            <h1 id="heading"> Change Password </h1>
                <!-- horizontal line -->
                <hr>
                <!-- line break -->
                <br><br><br>
            <!-- Change password  form  -->
            <div class="form-group">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-info" style="background-color: #e5c6a0; border: #e5c6a0; color: #000000;"><i class="bi bi-check-circle-fill"></i> Change Password </button>
            </div>
        </div>
    </div>
    <!-- horizontal line -->
    <br><br><br><br>
{% endblock %}

