
<!-- Extends the base template -->
{% extends 'base.html' %}

<!-- Template title -->
{% block title%} Edit Settings {% endblock %}

<!-- Template content-->
{% block content %}
    <br/>
    <!-- personalise page header -->
    <h1 id="header"> Edit {{ user.username }}'s Settings </h1>
    <br/>
     <!-- Edit profile settings form  -->
    <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-info" style="background-color: #e5c6a0; border: #e5c6a0; color: #000000;"><i class="bi bi-check-circle-fill"></i> Edit Profile </button>
    </div>
{% endblock %}