<!DOCTYPE html>
<html lang="en">
  <head>
      <!-- loads the static files -->
      {% load static %}

      <!-- meta data -->
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
      <link rel="stylesheet" type="text/css" href="{{'/static/css/style.css' }}">
      
      <title> {% block title%} Swimming Against The Tide {% endblock %}
      </title>
  </head>
  <body>

      <!-- Home button is visbale in the navbar -->
      <nav class="navbar navbar-light" style="background-color:#e5c6a0 ;">
        <div class="container-fluid">
          <image src="{{ '/static/images/logo.png' }}" alt="logo" width="100" height="70" class="d-inline-block">
          <a class="navbar-brand" href="{% url 'home' %}">
            <i class="bi bi-house-door-fill" alt="icon" width="30" height="24" class="d-inline-block align-text-top"></i>
            Home
          </a>
          <!-- If their are categories, catgeories are displayed in a droppdown.-->
          {% if category_menu %}
              <div class="nav-item dropdown">
                <a class="navbar-brand dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="bi bi-folder" alt="icon" width="30" height="24" class="d-inline-block align-text-top"></i>
                Categories
                </a>
                <!-- Dropdown elements display all of the categories  -->
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <!-- A dropdown link is created for each category -->
                  {% for item in category_menu %}
                    <!-- '|title '  capitalises the first letter of the categories -->
                    <a class="dropdown-item" href="#">{{item|title}}</a>
                  {% endfor %}
                </div>
              </div>
          {% else %}
              <!-- For pages where a categories dropdown is not available, the categories page link will be visible -->
              <div class="nav-item">
                <a class="navbar-brand" href="{% url 'category_list' %}"> <i class="bi bi-folder" alt="icon" width="30" height="24" class="d-inline-block align-text-top"></i> Categories</a>
              </div>
          {% endif%}

          <!-- The following navabr elements are only dispalyed for authenticated users  -->
          {% if user.is_authenticated %}
            <a class="navbar-brand" href="{% url 'posts' %}">
              <i class="bi bi-chat-left-text" alt="icon" width="30" height="24" class="d-inline-block align-text-top"></i>
              Add Post
            </a>
            <a class="navbar-brand" href="{% url 'category' %}">
              <i class="bi bi-folder-plus" alt="icon" width="30" height="24" class="d-inline-block align-text-top"></i>
              Add Category
            </a>
            <div class="nav-item dropdown">
              <a class="navbar-brand dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="bi bi-person-circle" alt="icon" width="30" height="24" class="d-inline-block align-text-top"></i>
                <!-- '|title '  capitalises the first letter of the username -->
              {{ user.username|title }}'s Profile
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="{% url 'profile_settings' %}">Edit {{ user.username|title }}'s Settings</a>
                <!-- Only users who have set up there profile will be able to view and edit their profile -->
                {% if user.userprofile.id%}
                <a class="dropdown-item" href="{% url 'view_profile' user.userprofile.id %}">View {{ user.username|title }}'s Page</a>
                <a class="dropdown-item" href="{% url 'profile' user.userprofile.id %}">Edit {{ user.username|title }}'s Page</a>
                {% else %}
                <!-- For users who are logged in but have not set up their profile, they will have a chance to create one-->
                <a class="dropdown-item" href="{% url 'create_profile' %}">Create {{ user.username|title }}'s Profile </a>
                {% endif %}
              </div>
            </div>
            <!-- For all users who are logged in they will see the logout button -->
            <a class="navbar-brand" href="{% url 'logout' %}">
              <i class="bi bi-box-arrow-left" alt="icon" width="30" height="24" class="d-inline-block align-text-top"></i>
              Log out
            </a>
          {% else %}
            <!-- For all users who are not logged in they will have the option to login or signup -->
            <a class="navbar-brand" href="{% url 'sign_up' %}">
              <i class="bi bi-person-plus-fill" alt="icon" width="30" height="24" class="d-inline-block align-text-top"></i>
              Sign up
            </a>
            <a class="navbar-brand" href="{% url 'login' %}">
              <i class="bi bi-box-arrow-in-right" alt="icon" width="30" height="24" class="d-inline-block align-text-top"></i>
              Login
            </a>
          {% endif %}
        </div>
      </nav>
      <!-- Django message container so that every user action has a response -->
      {% if messages %}
        {% for message in messages %}
            <div class="text-center alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message|safe }}
            </div>
        {% endfor %}
      {% endif %}

      <!-- displays non field errors in a boostrap error class -->
      {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
          <div class="text-center alert alert-danger alert-dismissible fade show" role="alert">
            {{error}}
          </div>
        {% endfor %}
      {% endif %}
      
      <!-- Bootstrap  container to align content -->
      <div class="container">
        <!-- this section of the template will be replaced by content from the templates that extend the base template. -->
        {% block content %}
        {% endblock %}
      </div>

      <!-- jQuery, Popper.js and Bootstrap JS CDN -->
      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  
  <footer class="footer mt-auto py-3">
    <strong><p>©2022| Bloggerverse inc, all rights reserved</p></strong> <a href="https://www.linkedin.com/in/brieanna-mcdonald-0263b1212/" target="_blank"><i class="bi bi-linkedin" id="icons"></i></a> <a href="https://www.instagram.com/" target="_blank"><i class="bi bi-instagram" id ="icons"></i></a> <a href="https://twitter.com/?lang=en" target="_blank"><i class="bi bi-twitter" id="icons"></i></a>
  </footer>
  </body>
</html>