<!-- Extends the base template -->
{% extends 'base.html' %}

<!-- Template title -->
{% block title%} Comment {% endblock %}

<!-- Template content -->
{% block content %}
<br/>
    <!-- page header -->
    <h1 id="heading">Add Your Comment</h1>
    <br/>
    <div class="form-group">
        <!-- form data is posted and allows images to be inserted by the user -->
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-info" style="background-color: #e5c6a0; border: #e5c6a0; color: #000000;"><i class="bi bi-check-circle-fill"></i> Add Comment </button>
            <br><br/> 
    </div>
{% endblock  %}