<!-- Extends the base template -->
{% extends 'base.html' %}

<!-- Template title -->
{% block title%} Add Post {% endblock %}

<!-- Template content -->
{% block content %}
    <br/>
    <!-- Once logged in users will be able to add their own posts using the post form-->
    {% if user.is_authenticated %}
        <!-- delete form is displayed as a card -->
        <div class="card">

            <!-- boostrap black border -->
            <div class="card border-secondary ">
                
                <!-- boostrap card body -->
                <div class="card-body">
                    
                    <!-- card title -->
                    <h1 id="heading" class="card-title"> Add Your Post </h1>
                    
                    <!-- horizontal line -->
                    <hr>
                    <!-- line break -->
                    <br/>
                    <div class="form-group">
                        <!-- form data is posted and allows images to be inserted by the user -->
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form.media }}
                            {{ form.as_p }}
                            <button class="btn btn-info" style="background-color: #e5c6a0; border: #e5c6a0; color: #000000;"><i class="bi bi-check-circle-fill"></i> Post</button>
                            <!-- line break -->
                            <br><br/> 
                            <!-- horizontal line -->
                            <hr>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}